<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892556313507-lp517fb4eup79a4fbiub6905sc5ul1rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892556313507-lp517fb4eup79a4fbiub6905sc5ul1rr</string>
	<key>API_KEY</key>
	<string>AIzaSyDqgt6VoXaKon1yGZB5EfER5XZ0yCA5iiI</string>
	<key>GCM_SENDER_ID</key>
	<string>892556313507</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieApp</string>
	<key>PROJECT_ID</key>
	<string>movie-a-de18c</string>
	<key>STORAGE_BUCKET</key>
	<string>movie-a-de18c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892556313507:ios:c4732d02ddf3774e249016</string>
</dict>
</plist>